<h1>My Todo's</h1>

<div class="container">
  
  <form [formGroup]="form" (ngSubmit)="submit()" name="Filter"> 
    <div class="form-group row">
      <label for="filters"  class="col-sm-2 col-form-label">Is Task Completed?</label>
      <div class="col-sm-2">
        <select formControlName="filters" id="filters" class="form-control form-control-sg"> 
            <option *ngFor="let filter of filters; let i = index" [value]="filters[i].id">
              {{filters[i].name}}
            </option>
        </select>
      </div>
      <button class="btn btn-success">submit</button>
    </div>  
  </form>
</div>


<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>description</th>
      <th>Target Date</th>
      <th>is Completed?</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date | uppercase}}</td>
      <td>{{todo.done}}</td>
      <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
    </tr>
  </tbody>


</table>

<div class="row">
    <td><button (click)="addTodo()" class="btn btn-success">Add</button></td>
</div>



</div>